* {
    left: 0;
    top: 0;
    font-family: "Baloo Paaji 2";
}

body {
    background-color: #ffbd59;
}

.logo {
    height: 20vh;
    width: auto;
}

#tabBox {
    top: 0;
    min-width: 90vh;
    min-height: 32px;
}

.tab {
    display: inline-block;
    min-width: 16%;
    min-height: 32px;
    background: linear-gradient(90deg, #0097b2 0%, #a0f5ff 100%);
    border-radius: 10px 10px 0 0;
    padding-left: 7.5px;
    text-align: inherit; /**DER SCHEIßDRECK SOLL UNTEN STEHEN!**/
}

.aktiv {
    background: #a0f5ff;
    padding-top: 5px;
}

.tabInhalt {
    min-width: 90vh;
    min-height: 80vh;
    border: solid black 1px;
    background-color: #a0f5ff99;
    margin-top: 0;
}