* {
    left: 0;
    top: 0;
}

#tabBox {
    min-width: 90vh;
    min-height: 32px;
    /**border: solid black 4px;**/
}

.tab {
    display: inline-block;
    min-width: 16%;
    min-height: 32px;
    background: linear-gradient(90deg, rgba(3,3,254,1) 0%, rgba(104,230,255,1) 100%);
    margin-top: 2px;
    /**left: 0.5px;**/
    border-radius: 10px 10px 0 0;
    /**border: solid black 4px;**/
}

.aktiv {
    background: linear-gradient(90deg, rgba(121,112,254,1) 0%, rgba(204,230,255,1) 100%);
}

.tabInhalt {
    min-width: 90vh;
    min-height: 80vh;
    border: solid black 1px;
    margin-top: 0;
}