<!DOCTYPE html>
{% load static %}
<html lang="de">

    <head>
        <meta charset="utf-8">
        <title>10PM - Wenn's beim Lernen mal wieder spät wird</title>
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
        <script src="{% static 'scripts.js' %}"></script>
        <!-- Schriftarten-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap" rel="stylesheet">   
    </head>

    <body onload="datumEinfuegen()">

        <img src="{% static 'Logoentwurf.png' %}" class="logo">
        <div id="datumUhrzeit"></div>

        <div id="tabBox">
            <div id="woranArbeitestDu" class="tab"><a href="{% url 'woranArbeitestDu' %}">Woran arbeitest du gerade?</a></div>
            <div id="erzaehlMirMehr" class="tab aktiv"><a href="{% url 'erzaehlMirMehr' %}">Erzähl mir mehr!</a></div>
            <div id="kuerzlichAbgeschlossen" class="tab"><a href="{% url 'kuerzlichAbgeschlossen' %}">Kürzlich abgeschlossen.</a></div>
            <div id="lassMichdasZusammenfassen" class="tab"><a href="{% url 'lassMichDasZusammenfassen' %}">Lass mich das zusammenfassen.</a></div>
            <div id="login" class="tab"><a href="{% url 'login' %}">Einloggen & Loslegen!</a></div>
            {% if request.session.matrikelnummer %}
            <div id="nutzerverwaltung" class="nutzer-tab"><a href="{% url 'nutzerverwaltung' %}">Deinen Account verwalten.</a></div>
            {% endif %}
        </div>

        <div class="tabInhalt"></div>

    </body>

</html>