<!DOCTYPE html>
{% load static %}
<html lang="de">

    <head>
        <meta charset="utf-8">
        <title>10PM - Wenn's beim Lernen mal wieder spät wird</title>
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
        <script src="{% static 'scripts.js' %}"></script>
        <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
        <!-- Schriftarten-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap" rel="stylesheet">   
    </head>

    <body onload="datumEinfuegen()">

        <img src="{% static 'Logoentwurf.png' %}" class="logo">
        <div id="datumUhrzeit"></div>

        <div id="tabBox">
            <div id="woranArbeitestDu" class="tab"><a href="{% url 'woranArbeitestDu' %}">Woran arbeitest du gerade?</a></div>
            <div id="erzaehlMirMehr" class="tab"><a href="{% url 'erzaehlMirMehr' %}">Erzähl mir mehr!</a></div>
            <div id="kuerzlichAbgeschlossen" class="tab"><a href="{% url 'kuerzlichAbgeschlossen' %}">Kürzlich abgeschlossen.</a></div>
            <div id="lassMichdasZusammenfassen" class="tab aktiv"><a href="{% url 'lassMichDasZusammenfassen' %}">Lass mich das zusammenfassen.</a></div>
            {% if not request.session.matrikelnummer %}
            <div id="login" class="tab"><a href="{% url 'login' %}">Einloggen & Loslegen!</a></div>
            {% endif %}
            {% if request.session.matrikelnummer %}
            <div id="nutzerverwaltung" class="nutzer-tab nutzer-aktiv"><a href="{% url 'nutzerverwaltung' %}">Nutzerverwaltung</a></div>
            {% endif %}
        </div>

        <div class="tabInhalt">
            {% if request.session.berechtigung == "gesperrt" %}
                <p>DU BIST GESPERRT! Lass dich in der Nutzerverwaltung entsperren.</p>
            {% endif %}

            {% if request.session.berechtigung == "nutzer" or request.session.berechtigung == "vip" or request.session.berechtigung == "admin" %}
                {% if request.session.berechtigung == "vip" or request.session.berechtigung == "admin" %}
                    <form method="post" action="{% url 'jsondownload' %}" class="downloadbuttonform">
                        {% csrf_token %}
                        <button type="submit" class="downloadbutton">Alle Berichte als <b>.json</b> herunterladen</button>
                    </form>
                    <form method="post" action="{% url 'csvdownload' %}" class="downloadbuttonform">
                        {% csrf_token %}
                        <button type="submit" class="downloadbutton">Alle Berichte als <b>.csv</b> herunterladen</button>
                    </form>
                    <form method="post" action="{% url 'xmldownload' %}" class="downloadbuttonform">
                        {% csrf_token %}
                        <button type="submit" class="downloadbutton">Alle Berichte als <b>.xml</b> herunterladen</button>
                    </form>
                    <form method="post" action="{% url 'pdfdownload' %}" class="downloadbuttonform">
                        {% csrf_token %}
                        <button type="submit" class="downloadbutton">Alle Berichte als <b>.pdf</b> herunterladen</button>
                    </form>
                    <form method="post" enctype="multipart/form-data" action="{% url 'berichtehochladen' %}">
                        {% csrf_token %}
                        <input type="file" name="datei" id="datei">
                        <button type="submit">Berichte hochladen (JSON, CSV, XML)</button>
                    </form>
                {% endif %}

                {% for bericht in alleBerichte %}
                    {% if bericht.endzeit != 0 and bericht.text != "" %}
                        <div class="bericht">
                            <div class="berichtheader">Gearbeitet von <b>{{ bericht.startzeit }}</b> bis <b>{{ bericht.endzeit }}</b> am Modul <b>{{ bericht.teilmodul }}</b>. <br>
                            Ingesamt <b>{{ bericht.arbeitszeit }} Minuten</b>.</div>
                            <div class="berichttextfenster">
                                <p>" {{ bericht.text }} "</p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <div id="semesterheader">
                    Du bist nicht angemeldet, bitte logge dich zuerst ein.
                </div>
            {% endif %}
                    
        </div>

    </body>

</html>