<!DOCTYPE html>
{% load static %}
<html lang="de">

    <head>
        <meta charset="utf-8">
        <title>10PM - Wenn's beim Lernen mal wieder spät wird</title>
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
        <script src="{% static 'scripts.js' %}"></script>
        <!-- Schriftarten-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap" rel="stylesheet">   
    </head>

    <body onload="datumEinfuegen()">

        <img src="{% static 'Logoentwurf.png' %}" class="logo">
        <div id="datumUhrzeit"></div>

        <form action="{% url 'woranArbeitestDu' %}" method="post">
            <label for="matrikelnummer">Matrikelnummer: </label>
            <input type="text" id="matrikelnummer" name="matrikelnummer"></input><br>
            <label for="passwort">Passwort: </label>
            <input type="password" id="passwort" name="passwort"></input><br>
            <button type="submit">Einloggen</button>
            <!-- Mit Django muss hier noch sichergestellt werde, dass User nur eingeloggt wieder zurück auf die Startseite kommen und ansonsten eine Fehlermeldung bekommen. -->
        </form>
        <form action="{% url 'registrieren' %}" target="_blank">
            <label for="registrieren">Stattdessen registrieren?</label>
            <button type="submit">Registrieren</button>
        </form>

    </body>

</html>