<!DOCTYPE html>
{% load static %}
<html lang="de">

    <head>
        <meta charset="utf-8">
        <title>10PM - Wenn's beim Lernen mal wieder spät wird</title>
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
        <script src="{% static 'scripts.js' %}"></script>
        <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
        <!-- Schriftarten-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap" rel="stylesheet">   
    </head>

    <body onload="datumEinfuegen()">

        <img src="{% static 'Logoentwurf.png' %}" class="logo">
        <div id="datumUhrzeit"></div>

        <div id="tabBox">
            <div id="woranArbeitestDu" class="tab"><a href="{% url 'woranArbeitestDu' %}">Woran arbeitest du gerade?</a></div>
            <div id="erzaehlMirMehr" class="tab"><a href="{% url 'erzaehlMirMehr' %}">Erzähl mir mehr!</a></div>
            <div id="kuerzlichAbgeschlossen" class="tab"><a href="{% url 'kuerzlichAbgeschlossen' %}">Kürzlich abgeschlossen.</a></div>
            <div id="lassMichdasZusammenfassen" class="tab"><a href="{% url 'lassMichDasZusammenfassen' %}">Lass mich das zusammenfassen.</a></div>
            <div id="login" class="tab"><a href="{% url 'login' %}">Einloggen & Loslegen!</a></div>
            <div id="nutzerverwaltung" class="nutzer-tab nutzer-aktiv"><a href="{% url 'nutzerverwaltung' %}">Nutzerverwaltung</a></div>
        </div>

        <div class="tabInhalt">

            <div id="berechtigungsheader">
                Hallo, {{ matrikelnummer }}! <br>
                Deine Berechtigung ist <b>"{{ berechtigung }}"</b>.<br>
                <form class="berechtigungsbuttonform" action="{% url 'nutzerAbmelden' %}" method="post">
                    {% csrf_token %}
                    <label for="abmelden">Möchtest du dich ausloggen?</label>
                    <button class ="berechtigungsbutton" type="submit">Abmelden</button>
                </form>

                {% if request.session.berechtigung == "nutzer" or request.session.berechtigung == "vip" %}
                <br>
                <b>Nutzer</b> können blablabla Text. <br>
                <b>Vips</b> können zusätzlich blablabla Text. <br>
                <b>Admins</b> können, zusätzlich zu allem was vip und nutzer können blablabla Text...
                {% endif %}
            </div>

            {% if request.session.berechtigung == "admin" %}
                <div id="berechtigungsanfragenheader">
                    Falls Nutzer eine Statusveränderung beantragt haben, kannst du sie hier sehen.<br>
                    <b>Akzeptiere</b> die Anfragen oder <b>lehne sie ab</b>:
                </div>

                <div class="berechtigungsanfragen">
                    {% for matrikelnummer, antragAls in Anträge.items %}
                        <div class="einAntrag">
                            Nutzer <b>{{ matrikelnummer }}</b> beantragt seinen Status als <b>{{ antragAls }}</b>
                            <form method="post" action="antraggenehmigen" class="berechtigungsbuttonform">
                                {% csrf_token %}
                                <button class="berechtigungsbutton" type="submit" name="matrikelnummer" value="{{ matrikelnummer }}">Genehmigen!</button>
                            </form>
                            <form method="post" action="antragablehnen" class="berechtigungsbuttonform">
                                {% csrf_token %}
                                <button class="berechtigungsbutton" type="submit" name="matrikelnummer" value="{{ matrikelnummer }}">Ablehnen!</button>
                            </form>
                        </div>
                    {% endfor %}
                </div>

                <div id="nutzerverzeichnis">
                    Hier kannst du alle Nutzer sehen, die in unserem System registriert sind. Bei grobem Fehlverhalten kannst du Nutzer sperren!
                    {% for nutzer, nutzerdaten in Benutzer.items %}
                        <div>
                            <b>Matrikelnummer:</b> {{ nutzerdaten.matrikelnummer }}, <b>Vorname:</b> {{ nutzerdaten.vorname }}, <b>Nachname:</b> {{ nutzerdaten.nachname }}, <b>Jahrgang:</b> {{ nutzerdaten.jahrgang }}, <b>Berechtigung:</b> {{ nutzerdaten.berechtigung }}
                            <form method="post" action="nutzersperren" class="sperrbuttonform">
                                {% csrf_token %}
                                <button class="sperrbutton" type="submit" name="matrikelnummer" value="{{ nutzerdaten.matrikelnummer }}">Nutzer sperren.</button>
                            </form>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% if request.session.berechtigung == "vip" %}
            <div class="berechtigungsantrag">
                <form class="antragsbuttonlabel" action="berechtigungsantrag" method="post">
                    {% csrf_token %}
                    <label for="berechtigungsantrag">Mit Klick auf den folgenden Button kannst du den Admin-Status für deinen Benutzeraccount beantragen: </label>
                    <button class="berechtigungsbutton" type="submit"><b>Admin-Status beantragen</b></button>
                </form>
            </div>
            {% endif %}

            {% if request.session.berechtigung == "nutzer" %}
            <div class="berechtigungsantrag">
                <form class="antragsbuttonlabel" action="berechtigungsantrag" method="post">
                    {% csrf_token %}
                    <label for="berechtigungsantrag">Mit Klick auf den folgenden Button kannst du den VIP-Status für deinen Benutzeraccount beantragen: </label>
                    <button class="berechtigungsbutton" type="submit"><b>VIP-Status beantragen</b></button>
                </form>
            </div>
            {% endif %}

            {% if request.session.berechtigung == "gesperrt" %}
            <div class="berechtigungsantrag">
                <form class="antragsbuttonlabel" action="berechtigungsantrag" method="post">
                    {% csrf_token %}
                    <label for="berechtigungsantrag">Mit Klick auf den folgenden Button kannst du beantragen entsperrt zu werden: </label>
                    <button class="berechtigungsbutton" type="submit"><b>Entsperrung beantragen</b></button>
                </form>
            </div>
            {% endif %}

        </div>

    </body>

</html>