<!DOCTYPE html>
{% load static %}
<html lang="de">

    <head>
        <meta charset="utf-8">
        <title>10PM - Wenn's beim Lernen mal wieder spät wird</title>
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
        <script src="{% static 'scripts.js' %}"></script>
        <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
        <!-- Schriftarten-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap" rel="stylesheet">   
    </head>

    <body onload="datumEinfuegen()">

        <img src="{% static 'Logoentwurf.png' %}" class="logo">
        <div id="datumUhrzeit"></div>

        <div id="tabBox">
            <div id="woranArbeitestDu" class="tab"><a href="{% url 'woranArbeitestDu' %}">Woran arbeitest du gerade?</a></div>
            <div id="erzaehlMirMehr" class="tab"><a href="{% url 'erzaehlMirMehr' %}">Erzähl mir mehr!</a></div>
            <div id="kuerzlichAbgeschlossen" class="tab"><a href="{% url 'kuerzlichAbgeschlossen' %}">Kürzlich abgeschlossen.</a></div>
            <div id="lassMichdasZusammenfassen" class="tab"><a href="{% url 'lassMichDasZusammenfassen' %}">Lass mich das zusammenfassen.</a></div>
            {% if not request.session.matrikelnummer %}
            <div id="login" class="tab"><a href="{% url 'login' %}">Einloggen & Loslegen!</a></div>
            {% endif %}
            {% if request.session.matrikelnummer %}
            <div id="nutzerverwaltung" class="nutzer-tab nutzer-aktiv"><a href="{% url 'nutzerverwaltung' %}">Nutzerverwaltung</a></div>
            {% endif %}
        </div>

        <div class="tabInhalt">

            <div id="berechtigungsheader">
                Hallo, {{ matrikelnummer }}! <br>
                Deine Berechtigung ist <b>"{{ berechtigung }}"</b>.<br>
                <form class="berechtigungsbuttonform" action="{% url 'nutzerAbmelden' %}" method="post">
                    {% csrf_token %}
                    <label for="abmelden">Möchtest du dich ausloggen?</label>
                    <button class ="berechtigungsbutton" type="submit">Abmelden</button>
                </form>
                <hr>

                {% if request.session.berechtigung == "nutzer" or request.session.berechtigung == "vip" %}
                <br>
                <b>Nutzer</b> können ihre Arbeitszeit tracken und dazugehörige Berichte anlegen sowie kürzlich abgeschlossene Berichte verändern.<br>
                Sie können den Status als VIP beantragen. <br>
                <b>VIPs</b> können, zusätzlich zu den Funktionen die auch Nutzern bereitstehen, ihre Berichte in selbstgewählten Formaten herunterladen<br>
                Sie können auch Berichte in selbstgewählten Formaten hochladen um die gespeicherten Berichte in TenPM zu ergänzen. <br>
                VIPs können den Status als Admin beantragen. <br>
                <b>Admins</b> können, zusätzlich zu den Funktionen die auch Nutzern und VIPs bereitstehen, Statusbeantragungen von Nutzern und VIPs genehmigen oder ablehnen. <br>
                Sie sehen die Liste aller registrierter Benutzer von TenPM sowie ihren Status, und können diese bei Bedarf sperren. <br>
                Admins können den Webmastern über ein Formular kommende Änderungen am Modulhandbuch mitteilen.
                <hr>
                {% endif %}
            </div>

            {% if request.session.berechtigung == "admin" %}
                <div id="berechtigungsanfragenheader">
                    Falls Nutzer eine Statusveränderung beantragt haben, kannst du sie hier sehen.<br>
                    <b>Akzeptiere</b> die Anfragen oder <b>lehne sie ab</b>:
                </div>

                <div class="berechtigungsanfragen">
                    {% for matrikelnummer, antragAls in Anträge.items %}
                        <div class="einAntrag">
                            Nutzer <b>{{ matrikelnummer }}</b> beantragt seinen Status als <b>{{ antragAls.antragAls }}</b>
                            <form method="post" action="antraggenehmigen" class="berechtigungsbuttonform">
                                {% csrf_token %}
                                <button class="berechtigungsbutton" type="submit" name="matrikelnummer" value="{{ matrikelnummer }}">Genehmigen!</button>
                            </form>
                            <form method="post" action="antragablehnen" class="berechtigungsbuttonform">
                                {% csrf_token %}
                                <button class="berechtigungsbutton" type="submit" name="matrikelnummer" value="{{ matrikelnummer }}">Ablehnen!</button>
                            </form>
                        </div>
                    {% endfor %}
                    <hr>
                </div>

                <div id="nutzerverzeichnis">
                    Hier kannst du alle Nutzer sehen, die in unserem System registriert sind. Bei grobem Fehlverhalten kannst du Nutzer sperren!
                    {% for nutzer, nutzerdaten in Benutzer.items %}
                        <div>
                            <b>Matrikelnummer:</b> {{ nutzerdaten.matrikelnummer }}, <b>Vorname:</b> {{ nutzerdaten.vorname }}, <b>Nachname:</b> {{ nutzerdaten.nachname }}, <b>Jahrgang:</b> {{ nutzerdaten.jahrgang }}, <b>Berechtigung:</b> {{ nutzerdaten.berechtigung }}
                            <form method="post" action="nutzersperren" class="sperrbuttonform">
                                {% csrf_token %}
                                <button class="sperrbutton" type="submit" name="matrikelnummer" value="{{ nutzerdaten.matrikelnummer }}">Nutzer sperren.</button>
                            </form>
                        </div>
                    {% endfor %}
                    <hr>
                </div>

                <div id="antragmodulhandbuch">
                    <form method="post" action="antragmodulhandbuch">
                        {% csrf_token %}
                        <label for="antragmodulhandbuch">
                            <b>Hat sich am Modulhandbuch des Studiengangs etwas verändert?</b><br>
                            Gehören Module in ein anderes Semester als bisher? Haben sich Modulnamen oder Modulnummern geändert? Die gesamte Struktur?<br>
                            Lass es uns wissen, damit wir das entsprechend anpassen können!<br>
                            <textarea type="text" name="text" rows="10" cols="50" placeholder="Beschreibe möglichst ausführlich, welche Änderungen es gibt." required></textarea><br>
                            <button type="submit" class="berechtigungsbutton">Antrag abschicken!</button>
                        </label>
                    </form>
                </div>
            {% endif %}

            {% if request.session.berechtigung == "vip" %}
            <div class="berechtigungsantrag">
                <form class="antragsbuttonlabel" action="berechtigungsantrag" method="post">
                    {% csrf_token %}
                    <label for="berechtigungsantrag">Gib deine Emailadresse ein und beantrage deinen Status als Admin: </label>
                    <input type="email" name="email">
                    <button class="berechtigungsbutton" type="submit"><b>Admin-Status beantragen</b></button>
                </form>
                <hr>
            </div>
            {% endif %}

            {% if request.session.berechtigung == "nutzer" %}
            <div class="berechtigungsantrag">
                <form class="antragsbuttonlabel" action="berechtigungsantrag" method="post">
                    {% csrf_token %}
                    <label for="berechtigungsantrag">Mit Klick auf den folgenden Button kannst du den VIP-Status für deinen Benutzeraccount beantragen: </label>
                    <button class="berechtigungsbutton" type="submit"><b>VIP-Status beantragen</b></button>
                </form>
                <hr>
            </div>
            {% endif %}

            {% if request.session.berechtigung == "gesperrt" %}
            <div class="berechtigungsantrag">
                <form class="antragsbuttonlabel" action="berechtigungsantrag" method="post">
                    {% csrf_token %}
                    <label for="berechtigungsantrag">Mit Klick auf den folgenden Button kannst du beantragen entsperrt zu werden: </label>
                    <button class="berechtigungsbutton" type="submit"><b>Entsperrung beantragen</b></button>
                </form>
                <hr>
            </div>
            {% endif %}

        </div>

    </body>

</html>