<!DOCTYPE html>
{% load static %}
<html lang="de">

    <head>
        <meta charset="utf-8">
        <title>10PM - Wenn's beim Lernen mal wieder spät wird</title>
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
        <script src="{% static 'scripts.js' %}"></script>
        <!-- Schriftarten-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap" rel="stylesheet">   
    </head>

    <body onload="datumEinfuegen()">

        <img src="{% static 'Logoentwurf.png' %}" class="logo">
        <div id="datumUhrzeit"></div>

        <div id="tabBox">
            <div id="woranArbeitestDu" class="tab aktiv"><a href="{% url 'woranArbeitestDu' %}">Woran arbeitest du gerade?</a></div>
            <div id="erzaehlMirMehr" class="tab"><a href="{% url 'erzaehlMirMehr' %}">Erzähl mir mehr!</a></div>
            <div id="kuerzlichAbgeschlossen" class="tab"><a href="{% url 'kuerzlichAbgeschlossen' %}">Kürzlich abgeschlossen.</a></div>
            <div id="lassMichdasZusammenfassen" class="tab"><a href="{% url 'lassMichDasZusammenfassen' %}">Lass mich das zusammenfassen.</a></div>
            <div id="login" class="tab"><a href="{% url 'login' %}">Einloggen & Loslegen!</a></div>
            {% if request.session.matrikelnummer %}
            <div id="nutzerverwaltung" class="nutzer-tab"><a href="{% url 'nutzerverwaltung' %}">Deinen Account verwalten.</a></div>
            {% endif %}
        </div>

        <div class="tabInhalt">

            <div id="semesterheader">
                Dein aktuelles Semester ist das {{ semester }}. Viel Erfolg!
            </div>

            {% if request.session.semester == 2 %}
            <form method="post" action="{% url 'zeitGeben' %}">
                {% csrf_token %}
                <button type="submit" class="zeitbutton" id="1.1.1">1.1.1 Einführung Informatik</button>
            </form>
            {% endif %}
            {% if request.session.semester == 3 %}
            <form method="post" action="{% url 'zeitGeben' %}">
                {% csrf_token %}
                <button type="submit" class="zeitbutton" id="1.1.2">1.1.2 Vertiefung Informatik</button>
            </form>
            {% endif %}
            {% if request.session.semester == 1 %}
            <form method="post" action="{% url 'zeitGeben' %}">
                {% csrf_token %}
                <button type="submit" class="zeitbutton" id="1.2.0">1.2.0. E-Government mit Exkursionen</button>
            </form>
            {% endif %}
            {% if request.session.semester == 3 %}
            <form method="post" action="{% url 'zeitGeben' %}">
                {% csrf_token %}
                <button type="submit" class="zeitbutton" id="1.3.1">1.3.1. Betriebs- und Kommunikationssysteme</button>
            </form>
            {% endif %}
            {% if request.session.semester == 4 %}
            <form method="post" action="{% url 'zeitGeben' %}">
                {% csrf_token %}
                <button type="submit" class="zeitbutton" id="1.3.2">1.3.2. Verteilte Systeme</button>
            </form>
            {% endif %}
            {% if request.session.semester == 4 %}
            <form method="post" action="{% url 'zeitGeben' %}">
                {% csrf_token %}
                <button type="submit" class="zeitbutton" id="1.3.3">1.3.3. Aktuelle Anwendungen erproben, Raspberry Pi</button>
            </form>
            {% endif %}
            {% if request.session.semester == 1 %}
            <form method="post" action="{% url 'zeitGeben' %}">
                {% csrf_token %}
                <button type="submit" class="zeitbutton" id="1.4.1">1.4.1. Vorgehensmodelle (Software Engineering 1)</button>
            </form>
            {% endif %}
            {% if request.session.semester == 2 %}
            <form method="post" action="{% url 'zeitGeben' %}">
                {% csrf_token %}
                <button type="submit" class="zeitbutton" id="1.4.2">1.4.2. Requirementsengineering und Requirementsmanagement (Software Engineering 2)</button>
            </form>
            {% endif %}
            {% if request.session.semester == 3 %}
            <form method="post" action="{% url 'zeitGeben' %}">
                {% csrf_token %}
                <button type="submit" class="zeitbutton" id="1.5.1">1.5.1. Systemanalyse (Software Engineering 3)</button>
            </form>
            {% endif %}
            {% if request.session.semester == 4 %}
            <form method="post" action="{% url 'zeitGeben' %}">
                {% csrf_token %}
                <button type="submit" class="zeitbutton" id="1.5.2">1.5.2. Software Entwurf und Implementierung (Software Engineering 4)</button>
            </form>
            {% endif %}
            {% if request.session.semester == 4 %}
            <form method="post" action="{% url 'zeitGeben' %}">
                {% csrf_token %}
                <button type="submit" class="zeitbutton" id="1.5.3">1.5.3. Softwarequalität und Test (Software Engineering 5)</button>
            </form>
            {% endif %}
            {% if request.session.semester == 6 %}
            <form method="post" action="{% url 'zeitGeben' %}">
                {% csrf_token %}
                <button type="submit" class="zeitbutton" id="1.6.1">1.6.1. Cybersecurity</button>
            </form>
            {% endif %}
            {% if request.session.semester == 6 %}
            <form method="post" action="{% url 'zeitGeben' %}">
                {% csrf_token %}
                <button type="submit" class="zeitbutton" id="1.6.2">1.6.2. ITIL</button>
            </form>
            {% endif %}
            {% if request.session.semester == 5 %}
            <form method="post" action="{% url 'zeitGeben' %}">
                {% csrf_token %}
                <button type="submit" class="zeitbutton" id="1.7.0">1.7.0. IT-Management</button>
            </form>
            {% endif %}
            {% if request.session.semester == 5 %}
            <form method="post" action="{% url 'zeitGeben' %}">
                {% csrf_token %}
                <button type="submit" class="zeitbutton" id="1.8.0">1.8.0. IT-Systeme und Informationssysteme</button>
            </form>
            {% endif %}
            {% if request.session.semester == 1 %}
            <form method="post" action="{% url 'zeitGeben' %}">
                {% csrf_token %}
                <button type="submit" class="zeitbutton" id="2.1.0">2.1.0. Steuerung, Public Management und Projektmanagement</button>
            </form>
            {% endif %}
            {% if request.session.semester == 3 %}
            <form method="post" action="{% url 'zeitGeben' %}">
                {% csrf_token %}
                <button type="submit" class="zeitbutton" id="2.2.0">2.2.0. Organisations- und Prozessmanagement</button>
            </form>
            {% endif %}
            {% if request.session.semester == 5 %}
            <form method="post" action="{% url 'zeitGeben' %}">
                {% csrf_token %}
                <button type="submit" class="zeitbutton" id="2.3.0">2.3.0. Öffentliche Betriebswirtschaftslehre</button>
            </form>
            {% endif %}
            {% if request.session.semester == 1 %}
            <form method="post" action="{% url 'zeitGeben' %}">
                {% csrf_token %}
                <button type="submit" class="zeitbutton" id="3.1.1">3.1.1. Grundlagen des Staats- und Europarechts</button>
            </form>
            {% endif %}
            {% if request.session.semester == 1 %}
            <form method="post" action="{% url 'zeitGeben' %}">
                {% csrf_token %}
                <button type="submit" class="zeitbutton" id="3.1.2">3.1.2. Verwaltungsrecht</button>
            </form>
            {% endif %}
            {% if request.session.semester == 3 %}
            <form method="post" action="{% url 'zeitGeben' %}">
                {% csrf_token %}
                <button type="submit" class="zeitbutton" id="3.2.1">3.2.1. Kommunalrecht</button>
            </form>
            {% endif %}
            {% if request.session.semester == 3 %}
            <form method="post" action="{% url 'zeitGeben' %}">
                {% csrf_token %}
                <button type="submit" class="zeitbutton" id="3.2.2">3.2.2. Finanzwirtschaft der Kommunen</button>
            </form>
            {% endif %}
            {% if request.session.semester == 3 %}
            <form method="post" action="{% url 'zeitGeben' %}">
                {% csrf_token %}
                <button type="submit" class="zeitbutton" id="3.2.3">3.2.3. Staatliches Haushaltsrecht</button>
            </form>
            {% endif %}
            {% if request.session.semester == 2 %}
            <form method="post" action="{% url 'zeitGeben' %}">
                {% csrf_token %}
                <button type="submit" class="zeitbutton" id="3.3.1">3.3.1. Grundlagen des Zivilrechts</button>
            </form>
            {% endif %}
            {% if request.session.semester == 2 %}
            <form method="post" action="{% url 'zeitGeben' %}">
                {% csrf_token %}
                <button type="submit" class="zeitbutton" id="3.3.2">3.3.2. Grundlagen des Kartell- und Wettbewerbsrechts</button>
            </form>
            {% endif %}
            {% if request.session.semester == 2 %}
            <form method="post" action="{% url 'zeitGeben' %}">
                {% csrf_token %}
                <button type="submit" class="zeitbutton" id="3.3.3">3.3.3. Grundlagen des Handels- und Gesellschaftsrechts</button>
            </form>
            {% endif %}
            {% if request.session.semester == 2 %}
            <form method="post" action="{% url 'zeitGeben' %}">
                {% csrf_token %}
                <button type="submit" class="zeitbutton" id="3.3.4">3.3.4. IT-Recht</button>
            </form>
            {% endif %}
            {% if request.session.semester == 4 %}
            <form method="post" action="{% url 'zeitGeben' %}">
                {% csrf_token %}
                <button type="submit" class="zeitbutton" id="3.4.1">3.4.1. Vergaberecht (einschließlich e-Government)</button>
            </form>
            {% endif %}
            {% if request.session.semester == 4 %}
            <form method="post" action="{% url 'zeitGeben' %}">
                {% csrf_token %}
                <button type="submit" class="zeitbutton" id="3.4.2">3.4.2. Beihilferecht</button>
            </form>
            {% endif %}
            {% if request.session.semester == 5 %}
            <form method="post" action="{% url 'zeitGeben' %}">
                {% csrf_token %}
                <button type="submit" class="zeitbutton" id="3.5.1">3.5.1. Recht des Datenschutzes</button>
            </form>
            {% endif %}
            {% if request.session.semester == 5 %}
            <form method="post" action="{% url 'zeitGeben' %}">
                {% csrf_token %}
                <button type="submit" class="zeitbutton" id="3.5.2">3.5.2. Informationszugangsrecht</button>
            </form>
            {% endif %}
            {% if request.session.semester == 5 %}
            <form method="post" action="{% url 'zeitGeben' %}">
                {% csrf_token %}
                <button type="submit" class="zeitbutton" id="3.5.3">3.5.3. Arbeitsrecht</button>
            </form>
            {% endif %}
            {% if request.session.semester == 5 %}
            <form method="post" action="{% url 'zeitGeben' %}">
                {% csrf_token %}
                <button type="submit" class="zeitbutton" id="3.5.4">3.5.4. Beamtenrecht</button>
            </form>
            {% endif %}
            {% if request.session.semester == 6 %}
            <form method="post" action="{% url 'zeitGeben' %}">
                {% csrf_token %}
                <button type="submit" class="zeitbutton" id="3.6.1">3.6.1. Vertragsgestaltung</button>
            </form>
            {% endif %}
            {% if request.session.semester == 6 %}
            <form method="post" action="{% url 'zeitGeben' %}">
                {% csrf_token %}
                <button type="submit" class="zeitbutton" id="3.6.2">3.6.2. Rechtliche Kernkompetenzen bei Digitalisierungsprojekten</button>
            </form>
            {% endif %}
            {% if request.session.semester == 1 %}
            <form method="post" action="{% url 'zeitGeben' %}">
                {% csrf_token %}
                <button type="submit" class="zeitbutton" id="4.1.1">4.1.1. Strategische und Integrale Steuerung</button>
            </form>
            {% endif %}
            {% if request.session.semester == 1 %}
            <form method="post" action="{% url 'zeitGeben' %}">
                {% csrf_token %}
                <button type="submit" class="zeitbutton" id="4.1.2">4.1.2. Smart Cities und Smart Services</button>
            </form>
            {% endif %}
            {% if request.session.semester == 2 %}
            <form method="post" action="{% url 'zeitGeben' %}">
                {% csrf_token %}
                <button type="submit" class="zeitbutton" id="4.1.3">4.1.3. Grundlagen des Change Managements</button>
            </form>
            {% endif %}
            {% if request.session.semester == 4 %}
            <form method="post" action="{% url 'zeitGeben' %}">
                {% csrf_token %}
                <button type="submit" class="zeitbutton" id="4.2.1">4.2.1. Gestaltung von Kommunikation und Partizipation mit digitalen Medien</button>
            </form>
            {% endif %}
            {% if request.session.semester == 3 %}
            <form method="post" action="{% url 'zeitGeben' %}">
                {% csrf_token %}
                <button type="submit" class="zeitbutton" id="4.2.2">4.2.2. Führung und Teamentwicklung mit digitalen Medien</button>
            </form>
            {% endif %}
            {% if request.session.semester == 4 %}
            <form method="post" action="{% url 'zeitGeben' %}">
                {% csrf_token %}
                <button type="submit" class="zeitbutton" id="4.2.3">4.2.3. Digitalisierung und digitales Wissensmanagement</button>
            </form>
            {% endif %}
            {% if request.session.semester == 6 %}
            <form method="post" action="{% url 'zeitGeben' %}">
                {% csrf_token %}
                <button type="submit" class="zeitbutton" id="7.1.1">7.1.1. Bachelorarbeit</button>
            </form>
            {% endif %}


        </div>

    </body>

</html>